@import '../variables.scss';

.deep-dive-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  cursor: default;
}

.summary-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-end;
}

.logo-container {
  width: 15rem;
  height: fit-content;
  padding: 1rem;
  img {
    width: 100%;
    transition: 100ms ease-in;
  }
  img:hover {
    filter: brightness(90%);
    transition: 100ms ease-in;
  }
}

.more-metrics-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: clamp(15rem, 50vw , 50rem);
  margin-top: 2rem;
}

.chart-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.annual-dividend-history-chart {
  width: clamp(25rem, 50vw, 30rem);
  height: clamp(12.5rem, 35vw, 15rem);
  margin: 4rem 0rem 2rem 0rem;
  // height: fit-content;
  // width: fit-content;
  padding: 2rem 2.5rem 2rem 2rem;
  border-radius: 0.1rem;
  box-shadow: $box-shadow;
  transition: 100ms ease-in-out;
}



.annual-growth-history-chart {
  width: clamp(25rem, 50vw, 30rem);
  height: clamp(12.5rem, 35vw, 15rem);
  margin: 1rem 0rem;
  // height: fit-content;
  // width: fit-content;
  padding: 2rem 2.5rem 2rem 2rem;
  border-radius: 0.1rem;
  box-shadow: $box-shadow;
  transition: 100ms ease-in-out;
}

.payout-ratio-history-chart {
  width: clamp(25rem, 50vw, 30rem);
  height: clamp(12.5rem, 35vw, 15rem);
  margin: 1rem 0rem;
  // height: fit-content;
  // width: fit-content;
  padding: 2rem 2.5rem 2rem 2rem;
  border-radius: 0.1rem;
  box-shadow: $box-shadow;
  transition: 100ms ease-in-out;
}

.annual-dividend-history-chart:hover, .annual-growth-history-chart:hover, .payout-ratio-history-chart:hover {
  box-shadow: $box-shadow-hover;
  transition: 100ms ease-in-out;
}

.back-button {
  position: absolute;
  width: 3rem;
  top: 1rem;
  left: -6.2rem;
  img {
    width: 100%;
    transition: 150ms ease-in;
    border-radius: 10rem;
    cursor: pointer;
  }
  img:hover {
    background-color: $nav-underline-color;
    transition: 150ms ease-in;
  }
}



