@import '../variables.scss';

.deep-dive-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  cursor: default;
}

.summary-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-end;
}

.logo-container {
  width: 15rem;
  height: fit-content;
  padding: 1rem;
  img {
    width: 100%;
    transition: 400ms ease-in;
  }
  img:hover {
    filter: brightness(90%);
    transition: 400ms ease-in;
  }
}

.more-metrics-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: clamp(15rem, 50vw , 50rem);
  margin-top: 2rem;
}

.chart-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.annual-dividend-history-chart {
  width: clamp(25rem, 50vw, 50rem);
  height: clamp(20rem, 35vw, 25rem);
  margin: 4rem 0.5rem 2rem 0.5rem;
}

.annual-growth-history-chart {
  width: clamp(25rem, 50vw, 50rem);
  height: clamp(20rem, 35vw, 25rem);
  margin: 0.5rem;
}

.payout-ratio-history-chart {
  width: clamp(25rem, 50vw, 50rem);
  height: clamp(20rem, 35vw, 25rem);
  margin: 0.5rem;
}

.back-button {
  position: absolute;
  width: 3rem;
  top: 8rem;
  left: 2rem;
  img {
    width: 100%;
    transition: 150ms ease-in;
    border-radius: 10rem;
    cursor: pointer;
  }
  img:hover {
    background-color: $nav-underline-color;
    transition: 150ms ease-in;
  }
}



