@import '../variables.scss';

.dash-container {
  width: 80%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.metric-container {
  width: clamp(16rem, 25%, 22rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 1.5rem;

}

.blended-yield-box {
  width: 100%;
  padding: 1rem 0rem;
}

.annual-income-box {
  width: 100%;
  padding: 1rem 0rem;
}

.total-invested-box {
  width: 100%;
  padding: 1rem 0rem;
}

.total-title {
  margin-bottom: 0rem;
  font-weight: 400;
  text-decoration: underline;
  line-height: 2;
  white-space: pre-wrap;
}

.summary-chart-container {
  width: clamp(25rem, 50vw, 50rem);
  height: clamp(20rem, 35vw, 25rem);
  text-align: center;
}

.chart-type-button {
  width: 6rem;
  margin: 0.2rem;
  border-radius: 3px;
  height: 2rem;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 3px;
  color: #eee;
  background-color: $dark-1;
  transition: 150ms background-color ease-in;
}

.chart-type-button:hover {
  background-color: $dark-2;
  transition: 150ms background-color ease-in;
}