@import '../variables.scss';

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  // border: 1px solid $dark-3;
  // border-bottom: 1px solid $dark-3;
  border-radius: 2px;
  margin: 0.75rem 0rem;
  box-shadow: $box-shadow;
  transition: 100ms ease-in-out;
}

.row-container:hover {
  box-shadow: $box-shadow-hover;
  transition: 100ms ease-in-out;
}

.cell {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 3rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem 2rem;
  margin: 0.75rem 0rem;
  // border-right: 1px solid $dark-3;
  font-size: 0.7rem;
  cursor: default;
}

.cell:first-of-type {
  margin-left: 0rem;
}

.cell:last-of-type {
  margin-right: 0.5rem;
  // border-right: 1px solid transparent;
}


.cell-title {
  text-align: center;
  padding-bottom: 0.3rem;
}

.cell-detail {
  text-align: center;
  padding-bottom: 0.3rem;
}

.ticker-symbol {
  color: $ticker-color;
  font-size: 0.8rem;
  font-weight: 700;
}

.amount-input {
  width: 3.5rem;
  font-size: 0.7rem;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.more-detail-cell {
  width: 1rem;
  img {
    width: 180%;
    margin-top: 0.4rem;
    transform: translate( -0.3rem, 0rem );
    transition: 150ms ease-in;
  }
  img:hover{
    filter: brightness(90%) contrast(200%) hue-rotate(300deg);
    transition: 150ms ease-in;
    background-color: rgb(221, 164, 193);
  }
}


.close-detail-cell {
  width: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 10rem;
  img {
    width: 125%;
    margin-top: 0.4rem;
    transform: translate( 0rem, 0.2rem );
    transition: 150ms ease-in;
  }
  img:hover{
    filter: brightness(200%) contrast(1%);
    transition: 150ms ease-in;
  }
}


.chart-cell {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem 1.5rem;
  margin: 0.75rem 0rem;
  // border-right: 1px solid $dark-3;
  font-size: 0.7rem;
}

.close-cell {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem 1.5rem;
  margin: 0.75rem 0rem;
  border-right: 1px solid transparent;
  font-size: 0.7rem;
}

.info-icon {
  width: 0.8rem;
  margin-left: 0.25rem;
  transform: translate( 0rem, 0.1rem );
  border-radius: 10rem;
  transition: 150ms ease-in;
}

.info-icon:hover {
  transition: 150ms ease-in;
  background-color: $info-icon-hover;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  color: $light-text;
}
.title-info {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.text-info {
  font-size: 0.6rem;
}


.months-info {
  font-size: 0.6rem;
}