@import '../variables.scss';

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-button {
  width: clamp(7rem, 4rem + 20vw , 8rem);
  border-radius: 3px;
  height: 2.5rem;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 3px;
  color: #eee;
  background-color: $dark-1;
  margin-left: 0.5rem;
  transition: 150ms background-color ease-in;
}

.add-button:hover {
  background-color: $dark-2;
  transition: 150ms background-color ease-in;
}

.dropdown {
  background-color: white;
  width: clamp(14.8rem, 5rem + 21.2vw, 20.8rem);
  max-height: 20rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth scroll;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  position: absolute;
  transform: translateY(-2rem);
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
  transition: 50ms ease-in;
}

.dropdown-row:hover {
  background-color: #70d6ff;
  transition: 50ms ease-in;
}

input {
  width: 220px;
  transition: 150ms ease-in;
}

input:hover {
  border: 1px solid $ticker-color;
  transition: 150ms ease-in;
}

input:active {
  border: 1px solid rgb(255, 234, 0);
  transition: 150ms ease-in;
  box-shadow: $box-shadow-hover;
}


.search-inner {
  display: flex;
}