$dark-1: #323232;
$dark-2: #3a3a3a;
$dark-3: #c9c9c9;
$text: #303030;
$light-text: #e8e8e8;
$ticker-color: #350fa7;
$nav-underline-color:rgb(84, 185, 128);
$info-icon-hover: #c9c9c9;
$bg-color: #ffffff;
$deep-dive-shadow: #e1e1e1;